* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.cookie-container {
  display: flex;
  align-items: center;
  background: linear-gradient(260deg, #9b6c50 0%, #4f2626);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 24rem;
  height: 11rem;
  border-radius: 1.2rem;
  padding: 1rem;
  font-family: "Poppins";
  justify-content: space-between;
  overflow: hidden;
}
.cookie {
  padding-right: 1rem;
  overflow: visible;
}
.text {
  width: 90%;
}

.cookie-title {
  font-size: 1.2rem;
  font-weight: 400;
}

.cookie-subtitle {
  font-weight: 300;
  font-size: 0.8rem;
  padding: 0.5rem 0rem;
}

button {
  border: none;
  padding: 0.5rem 1rem;
  color: #4f2626;
  border-radius: 0.5rem;
  font-family: "Poppins";
  font-size: 0.8rem;
  cursor: pointer;
  font-weight: bold;
}
